<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>        
    </div>        
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-fire fa-4x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">{{ widgetval.tempmedia }}</div>
                            <div>{{ widgetval.tempmediadesc }}</div>
                        </div>
                    </div>
                </div>
                <a  ng-href="#/media-ht">
                    <div class="panel-footer">
                        <span class="pull-left">{{ widgetval.tempmediadet }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tint fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ widgetval.ecphmedia }}</div>
                            <div>{{ widgetval.ecphmediadesc }}</div>
                        </div>
                    </div>
                </div>
                <a ng-href="#/media-ecph">
                    <div class="panel-footer">
                        <span class="pull-left">{{ widgetval.ecphmediadet }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-fire fa-4x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">{{ widgetval.tempgh }}</div>
                            <div>{{ widgetval.tempghdesc }}</div>
                        </div>
                    </div>
                </div>
                <a ng-href="#/gh-ht">
                    <div class="panel-footer">
                        <span class="pull-left">{{ widgetval.tempghdet }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ widgetval.luxgh }}</div>
                            <div>{{ widgetval.luxghdesc }}</div>
                        </div>
                    </div>
                </div>
                <a ng-href="#/gh-lux">
                    <div class="panel-footer">
                        <span class="pull-left">{{ widgetval.luxghdet }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
      <!-- /.environmental-graph-col -->
      <div class="col-lg-12 col-md-12 connectedSortable">
        <!-- environmental-graph-panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Media Graph             
          </div><!-- /.panel-header -->
          <div class="panel-body no-padding">
            <div class="row">
              <div class="col-lg-12 col-md-12">                  
                 <nvd3-stacked-area-chart data="MediaData" id="MediaGraph" showXAxis="true" showYAxis="true" height="300" showLegend="true">
          <svg></svg>
        </nvd3-stacked-area-chart>
              </div><!-- /.graph-sel-col -->              
            </div><!-- /.graph-row -->
          </div><!-- /.panel-body -->
        </div><!-- /.panel-environmental-graph -->
      </div><!-- /.col-environmental-graph -->
    </div> <!-- /.row-environmental-graph -->  
    <div class="row">
      <!-- /.environmental-graph-col -->
      <div class="col-lg-12 col-md-12 connectedSortable">
        <!-- environmental-graph-panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Green House Graph 
          </div><!-- /.panel-header -->
          <div class="panel-body no-padding">
            <div class="row">                            
                <nvd3-stacked-area-chart data="GHData" id="GHGraph" showXAxis="true" showYAxis="true" height="300" showLegend="true">
          <svg></svg>
        </nvd3-stacked-area-chart>
              </div><!-- /.graph-sel-col -->              
            </div><!-- /.graph-row -->
          </div><!-- /.panel-body -->
        </div><!-- /.panel-environmental-graph -->
      </div><!-- /.col-environmental-graph -->
    </div> <!-- /.row-environmental-graph -->  
</div>        